{% extends "FrontEnd/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<body>
    <div id="wrapper">
        <header class="flex  flex-row">
          <h1 class="company-logo">Divasity</h1>
          <div>
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>

            <nav id="main-nav">
                <ul class="menu-items">
                    <div id="client-country-wrapper" class="flex">
                        <div class="client-country-flag">
                            <i class="fa fa-map"></i>
                        </div>
                        <i class="fa fa-caret-down"></i>
                    </div>
                </ul>
            </nav><br>
              <div class="">
                Your password has been changed.
                <a href="{% url 'login' %}">Login Again</a>
              </div>

{% endblock content %}
